<div class="text-gray-500 h-16 p-4 shadow bg-white flex justify-between items-center">

  <span class="text-2xl">Error Plots</span>

  <div class="p-3 flex items-center justify-end">

    <div class="text-xs">Last Updated: 07:30 EDT Mon, Oct 6, 2020</div>

  </div>
</div>